body{
    /* background: url(https://cdn.shopify.com/s/files/1/0558/2081/files/Boneface_SuicideSquad_Stroke_1024x1024.jpg?4516956262476474020) center center / cover no-repeat; */
background-size: cover;
background-position: center;
    background: black;
    font-family: Turret Road;
}
#navv{
    font-size: larger;
    font-weight: 100;
    text-shadow: 0px 4px 3px black;

}

#navv .nav-link{
    color:white;
}
#navv .nav-link:hover{
color: #32CD32;
}
#navv .navbar-brand{
    color:#32CD32;
    font-size: 3rem;
    font-weight: 500;
}
#navv .dropdown-item{
    color: #32CD32;
}
#header{
    
    text-align: center;
    color: yellowgreen;
    padding-top:20% ;
    background-color: black;
    background: url(hack.jpg) center center / cover no-repeat;



}
.display-4 {
    font-size: 5rem;
    font-weight: 900;
    line-height: 1.2;
    text-shadow: 0px 4px 3px black ;
}
.lead {
    font-size: 1rem;
    margin-top: 50px
    
}
.col-6{
    color: rgb(62, 161, 62);
}
.aman {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0px 4px 3px black
}
.content{
    margin-top: 100px
}
.d-none{
    color: beige;
}
