html,body {
    height:100%;
    background-color:#0e0d10 ;
}

.nav {
    height:13%;
    width: 100%;
    margin:0;
    background-color:#0e0d10;
    color:white;
    position: absolute;
    z-index: 5;
}

.navlogo {
    height:100%;
    font-family:'Roboto', sans-serif;
    font-weight:900;
    font-size:26px;
    letter-spacing: 5px;;
}

.row {
    margin:0;
}

p {
    margin: 0;
}

.navlink {
    height:100%;
    font-family: 'Roboto', sans-serif;
    font-size:17px;
    font-weight:700;
}

.navlinkp {
    text-align:center;
    letter-spacing: 2px;
}

.hero1 {
    height:100%;
    background-image: url("./images/Hacker_edited.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom:10%;
}

.secure {
    height:100%;
}

.audit{
    height:84%;
}

.herobtn {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    background-color:#0001;
    border: 3px solid #1E8130;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left:15%;
    padding-right:15%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
}

#securetext {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:6rem;
    color:white;
}

.hero2 {
    height:100%;
    background-image: url("./images/xyz.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.prevention {
    height:100%;
}

#preventiontext {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 85px;
    line-height: 116px;
    color:whitesmoke;
}

.preventionsub {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 170%;
    color:whitesmoke;
}


