html,body {
    height:100%;
    background-color:#0e0d10 ;
    margin:0;
}

.nav {
    height:13%;
    width: 100%;
    margin:0;
    background-color:#0e0d10;
    color:white;
    position: absolute;
    z-index: 5;
}

.navlogo {
    height:100%;
    font-family:'Roboto', sans-serif;
    font-weight:900;
    font-size:26px;
    letter-spacing: 5px;;
}

.row {
    margin:0;
}

p {
    margin: 0;
}

.navlink {
    height:100%;
    font-family: 'Roboto', sans-serif;
    font-size:17px;
    font-weight:700;
}

.navlinkp {
    text-align:center;
    letter-spacing: 2px;
}

.hero1 {
    height:100%;
    background-image: url("./images/Hacker_edited.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom:10%;
}

.secure {
    height:100%;
}

.audit{
    height:84%;
}

.herobtn {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    background-color:#0001;
    border: 3px solid #1E8130;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left:15%;
    padding-right:15%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
}

#securetext {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:6rem;
    color:white;
}

.hero2 {
    height:100%;
    background-image: url("./images/xyz.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.prevention {
    height:100%;
}

#preventiontext {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 85px;
    line-height: 116px;
    color:whitesmoke;
}

.preventionsub {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 170%;
    color:whitesmoke;
}

.hero3 {
    height:132%;
    background-image: url("./images/abot.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

.hero3box {
    margin-left:12%;
    margin-right:12%;
}

.whowe {
    height:35%;
    width:100%;
}

.whoweare {
    width:100%;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 85px;
    line-height: 116px;
    color: #FEF1F1;

}

.whoweinfo {
    height:15%;
    width:75%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 171.2%;
    color: #FFFFFF;
}

.whowebtn {
    height:5%;
    width:75%;
}

.whowebttn {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    background-color:#0001;
    border: 3px solid #1E8130;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left:3%;
    padding-right:3%;
    color: white;
    height:100%;
}

.pichead {
    height:10%;
    background-image: url("./images/bg\ 2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.picfoot {
    height:10%;
    background-image: url("./images/bg\ 4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.testimony {
    height:80%;
    background-color:#fff;
}

.testhead {
    height:20%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 79px;
    line-height: 93px;
    color: #000000;
}

.testimg{
    height:10%;
}

.testname {
    height:10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.testdata {

    height:40%;
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 30px;
    line-height: 135%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #0009;
}

.footer {

    height:65%;

}

.footcol {
    height:70%;
}

.contact {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    margin-bottom:5%;
    color:white;
}

.number{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color:white;
}

.email {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    margin-bottom: 5%;
    color:white;
}

.join {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    color:white;
    margin-bottom:2%
}

.joinimg {
    padding-left: 0;
}

.aboutxfhead {
    padding-top: 9%;
    height:25%;
    margin-left:8.5%;
}

.aboutxfhead p {
    background-color: #0e0d10;
    height:100%;
    width: 100%;
    color:white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
    line-height: 70px;
}

.infosec {
    height:100%;
    background-color:white ;
    padding:10%;
    padding-top:5%;
    padding-bottom:0;
    color:black;
}

.infosdata {
    height:65%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
}

.infosimg {
   height:60%;
}

.spartinfo {
    height:35%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    padding:1%;
    padding-top:0;
    padding-bottom:0;
    color: #000000;

}

.vulhead {
    height:20%;
    background-color: white;
} 

.vulhead div p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #000000;
}

.vulnerability {
    height:30%;
    width:100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 75px;
    text-align: center;

    color: #000000;
}

.compgr {
    height:20%;
    background-color: white;
}

.companies {
    height:100%;
    background-color: white;
    padding-bottom:3%;
}


.compr {
    height:29%;
    margin-bottom:3%;
}

.compc {
    height:100%;
    padding:0;
}

.compimg {
    height:100%;
    width:100%;
    
}


